.Name-Title{
    text-align: center;
}
.intro{
    text-align: center;
    font-size: larger;
}
.me-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-box{
    width: 400px;
    height: 160px;
    border: solid 15px rgb(58, 58, 92);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.helpful{
    font-size: larger;;
    font-weight: bold;
}

.description-box{
    list-style-type: none;
    font-size: larger;
}

.code{
    font-size: larger;
    font-weight: bold;
}
